# SMTP (Gmail)
EMAIL_USER=psibookstore93@gmail.com
EMAIL_PASS=tyteltcvmwtwmcni
MAIL_DEFAULT_SENDER=psibookstore93@gmail.com

# OTP
OTP_TTL_SECONDS=300
OTP_MAX_PER_DAY=3

# Firebase
FIREBASE_CREDENTIALS=serviceAccountKey.json

# CORS
CORS_ORIGINS=http://localhost:3000

